#dashboard {
	 background-color:$mainColor;
	 img{
	 	width:$w-100;
	 }
	  h2{
	 		font-family: $fontMain;
	 		font-size: $textLg;
	 		color: $keyColor;
	 		text-align: center;
	 		padding: 0 20px
				 }
	 	section{
	 		width: $w-100;
	 		display: flex;
	 		flex-direction: row;
	 		justify-content: space-around;
			
	 		img{
	 		width: $w-25;
	 			}
	 }
	 p{
	 	color: black;
	 	font-size: $textSm;
	 	line-height: 1.4 em;
	 	padding:20px;
	 	
	 	a{
	 		color: grey;
	 		font-size: 1.1em;
	 	}
	 }
}